@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
   font-size: 62.5%;
}
body{
  padding-top: 2px;
  background-color:#fcf8ff;
  
}
ul{
    list-style-type: none;
    display:flex;
    position:relative;
    justify-content: space-evenly;
    padding: 2%;
    border:solid;
    border-radius: 10%;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 1.8rem;
    & li{
      color:rgb(255, 255, 255);
    }
    & li:hover{
      text-shadow: 2px 5px 15px #150335;
      cursor: pointer;
    }
}
nav{
    background-color:#9989b4;
    width: 100%;
    height:40% ;
    border-radius: 10%;
}
main{
  display: flex;
  gap: 150px;
  align-items: center;
  margin: 50px 50px 0 50px;
} 
img{
  border:3px solid black;
  border-radius: 50%;
  object-fit: cover;
  width: 400px;
  height: 400px;
}
.content{
  color: #04037b;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: fit-content;
  gap: 20px;
  flex-wrap: wrap;
}
.h-p{
  font-size: 4.5rem;
  font-weight: bold;
}
ul a{
  color: inherit;
  text-decoration: none;
}
.wrapper{
  display: flex;
}
.static-txt{
  color: #04037b;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: 'Lato', sans-serif;

}
.dynamic-txt{
  margin-left: 10px;
  height: 30px;
  background-color: #e2d7f7;
  overflow: hidden;
  padding:0 10px ;
}
.dynamic-txt li{
   list-style: none;
   color: #f96a47;
  font-size: 2.5rem;
  font-family: 'Lato', sans-serif;
  animation: slide 6s steps(4) infinite;
  position: relative;
  top: 0;


}
@keyframes slide {
  100%{
    top: -120px; /* 4*30=120 */
  }
}
.dynamic-txt li span{
  position: relative;
  
}
.dynamic-txt li span::after{
  content: "";
  border-left: 2px solid #f96a47;
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  animation: typing 1.5s steps(15) infinite;
  background-color: #e2d7f7;
  
}
@keyframes typing {
  100%{
     left: 100%;
     margin: 0 40px;
  }
}
/* .contact,.contact a{
  color: white;
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
} */
/* .contact{
  display: flex;
  align-items: center;
  justify-content: center;
  
} */
@media(width<=1107px){
 html{
  font-size: 60%;
 }
}
@media(width<=1089px){
 html{
  font-size: 55%;
 }
 .dynamic-txt{
  height: 25px;
 line-height: 30px;

  }
  .dynamic-txt li span::after{
    height: 28px;
  }
 
 @keyframes slide {
  100%{
    top: -125px; /* 4*30=120 */
  }
}
}
@media(width<=1053px){
 html{
  font-size: 50%;
 }
 img{
  width: 300px;
  height: 300px;
}
}
@media(width<=916px){
 img{
  width: 250px;
  height: 250px;
}
}
@media(width<=866px){
 img{
  width: 200px;
  height: 200px;
}
}
@media(width<=816px){
  html{
    font-size: 45%;
   }
   main{
    gap: 80px;
  }
}
@media(width<=778px){
  img{
    width: 150px;
    height: 150px;
  }
    .dynamic-txt{
     height: 24px;
    line-height: 30px;
     }
     .dynamic-txt li span::after{
       height: 25px;
     }
}
@media(width<=729px){
  img{
    width: 150px;
    height: 150px;
  }
}
@media(width<=659px){
  html{
    scroll-behavior: smooth;
  }
  main{
    flex-direction: column;
    gap:30px;
  }
  .content{
    align-items: center;
  }
}
@media(width<=499px){
  html{
    scroll-behavior: smooth;
  }
  main{
    flex-direction: column;
    gap:30px;
  }
  .content{
    height: auto;
    width: auto;
  }
}
@media(width<=429px){
  html{
   font-size: 39%;
  }
  .dynamic-txt{
    height: 20px;
   line-height: 23.8px;
  
    }
    .dynamic-txt li span::after{
      height: 22px;
    }
   
   
   @keyframes slide {
    100%{
      top: -100px; /* 4*30=120 */
    }
 }
}